<button  class="bg-white hover:bg-gray-50 font-bold py-4 w-full rounded-xl shadow-lg flex justify-between"
         (click)="openModal()">
  <div>
    <fa-icon [icon]="faUser" class="text-lg mx-5"></fa-icon>

    @if (personalInformationFormGroup.valid){
      <span class="my-auto text-sm font-semibold mx-5">
        {{firstNameForm.value}}  {{lastNameForm.value}}
      </span>
    } @else {
      <span class="my-auto text-sm font-semibold mx-5">
        Veuillez compléter vos informations
    </span>
    }
  </div>

  <fa-icon [icon]="faChevronRight" class="text-xs mx-5 my-auto"></fa-icon>
</button>


  <ng-template
    let-observer
    [tuiDialogOptions]="{label: 'Information de Paiement', size: 'l'}"
    [(tuiDialog)]="open">

    <div class="grid grid-cols-2  gap-4">

      <tui-input [formControl]="firstNameForm">
        Prénom
        <input
          placeholder="Entrez votre prénom"
          tuiTextfield
        />
      </tui-input>
      <tui-input [formControl]="lastNameForm">
        Nom
        <input
          placeholder="Entrez votre nom"
          tuiTextfield
        />
      </tui-input>
      <tui-input class="col-span-2"
                 [formControl]="mailForm">
        Email
        <input
          placeholder="Entrez votre mail"
          tuiTextfield
        />
      </tui-input>
      <tui-input-phone-international
        class="col-span-2"
        [formControl]="phoneForm"
        [countries]="countries"
        [(countryIsoCode)]="countryIsoCode"
      ></tui-input-phone-international>

      <div class="flex col-span-2" >
        <button type="submit" (click)="save()" tuiButton [disabled]="personalInformationFormGroup.invalid"
                class="text-white bg-red-500 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center mr-2 mb-2">
          Sauvegarder
        </button>
      </div>
    </div>
  </ng-template>

