<section class="wizard">

  <!--  max-->
  <div class="hidden md:block w-full">
    <div class="flex justify-between min-h-16">
      <div class="my-auto">
        @if (activeStepIdx > 0){
          <button id="previousStepButton" (click)="prevStep()">
            <fa-icon [icon]="faChevronLeft" class="text-lg mr-3"></fa-icon>
          </button>
        }
        <span class="text-xl md:text-2xl">
          {{currentStepLabel}}
      </span>
      </div>
      <div>
        @if (!isLastStep){
          <button id="nextStepButton" size="l" tuiButton
                  (click)="nextStep();"
                  [disabled]="!canNextStep"
                  type="submit"
                  class="tui-form__button">
            {{ 'stepper.next' | translate }}
          </button>
        }
      </div>
    </div>

    <hr class="md:my-3 mb-3 h-0.5 border-t-0 bg-gray-100"/>

  </div>

  <!--  minimal-->
  <div class="md:hidden block w-full p-4 my-0 sticky top-0 bg-white z-10 shadow-bottom">
    <div class="flex justify-between ">
      <div class="my-auto">
        @if (activeStepIdx > 0){
          <button id="previousStepButton2" (click)="prevStep()">
            <fa-icon [icon]="faChevronLeft" class="text-lg mr-3"></fa-icon>
          </button>
        }
        <span class="text-lg">
          {{currentStepLabel}}
      </span>
      </div>
      <div class="my-auto">
        @if (!isLastStep){
          <button id="nextStepButton2" size="m" tuiButton
                  (click)="nextStep()"
                  [disabled]="!canNextStep"
                  type="submit"
                  class="tui-form__button my-0 py-0">
            {{ 'stepper.next' | translate }}
          </button>
        }
      </div>
    </div>
  </div>



  <div class="-z-10">
    <ng-content></ng-content>
  </div>
</section>

