<div class="grid grid-cols-2 gap-4">

  <div>
    <tui-input [formControl]="firstNameForm">
      {{ 'passenger-form.first-name.label' | translate }}
      <input
        [placeholder]="'passenger-form.first-name.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="firstNameForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div>
    <tui-input [formControl]="lastNameForm">
      {{ 'passenger-form.last-name.label' | translate }}
      <input
        [placeholder]="'passenger-form.last-name.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="lastNameForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="col-span-2">
    <tui-input [formControl]="mailForm">
      {{ 'passenger-form.email.label' | translate }}
      <input
        [placeholder]="'passenger-form.email.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="mailForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="col-span-2">
    <tui-input-phone-international
      [formControl]="phoneForm"
      [countries]="countries"
      [(countryIsoCode)]="countryIsoCode"
    >
      {{ 'passenger-form.phone.label' | translate }}
    </tui-input-phone-international>
    <tui-error
      [formControl]="phoneForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>
</div>
