<div class="grid grid-cols-2  gap-4">

  <tui-input [formControl]="firstNameForm">
    Prénom
    <input
      placeholder="Entrez votre prénom"
      tuiTextfield
    />
  </tui-input>
  <tui-input [formControl]="lastNameForm">
    Nom
    <input
      placeholder="Entrez votre nom"
      tuiTextfield
    />
  </tui-input>
  <tui-input class="col-span-2"
             [formControl]="mailForm">
    Email
    <input
      placeholder="Entrez votre mail"
      tuiTextfield
    />
  </tui-input>
  <tui-input-phone-international
    class="col-span-2"
    [formControl]="phoneForm"
    [countries]="countries"
    [(countryIsoCode)]="countryIsoCode"
  >Votre numéro de téléphone</tui-input-phone-international>
</div>



