<app-layout>
  <section>
    <div class="mb-16 pt-4 max-w-xl md:mx-auto lg:max-w-4xl px-8 md:px-0">
      <app-title [shortTitle]="'contact-page.shortTitle' | translate"
                 [title]="'contact-page.title' | translate"
                 [description]="'contact-page.description' | translate">
      </app-title>
    </div>
    <div class="px-16 md:px-28 xl:px-48">

      <a class="flex justify-center items-center  gap-x-5 gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-center lg:gap-x-8">
        <a href="tel:+32471010113" class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:h-52 xl:p-7 md:w-80 hover:bg-cyan-500">
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 mx-auto">
            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.02427 10.2591L13.7368 17.9716C15.4072 19.642 18.1154 19.642 19.7858 17.9716C20.4539 17.3035 20.4539 16.2202 19.7858 15.552L17.6434 13.4096C17.1562 12.9224 16.3663 12.9224 15.8791 13.4096C15.3919 13.8968 14.602 13.8968 14.1148 13.4096L10.2334 9.52819C9.74619 9.041 9.74619 8.25109 10.2334 7.7639C10.7206 7.2767 10.7206 6.4868 10.2334 5.9996L8.44388 4.2101C7.77573 3.54195 6.69243 3.54194 6.02428 4.2101C4.35389 5.88049 4.35389 8.58872 6.02427 10.2591Z" stroke="#19aabe" stroke-width="1.1" class="my-path"></path>
            </svg>
          </div>
          <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white text-center">{{'contact-page.contact' | translate}}</h4>
          <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white text-center">
            (+32)471 01 01 13    </p>
        </a>

        <a href="mailto:brussels-shuttle@hotmail.com" class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:h-52 xl:p-7 md:w-80 hover:bg-cyan-500">
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 mx-auto">
            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 12C3 8.22876 3 6.34315 4.17157 5.17157C5.34315 4 7.22876 4 11 4H13C16.7712 4 18.6569 4 19.8284 5.17157C21 6.34315 21 8.22876 21 12C21 15.7712 21 17.6569 19.8284 18.8284C18.6569 20 16.7712 20 13 20H11C7.22876 20 5.34315 20 4.17157 18.8284C3 17.6569 3 15.7712 3 12Z" stroke="#19aabe" stroke-width="1.1" class="my-path"></path>
              <path d="M3.54883 6.73307L7.76733 9.36198C9.82587 10.6448 10.8551 11.2863 11.9998 11.2861C13.1445 11.2859 14.1736 10.6441 16.2317 9.36063L20.461 6.72314" stroke="#19aabe" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="my-path"></path>
            </svg>
          </div>
          <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white text-center">{{'contact-page.mail' | translate}}</h4>
          <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white text-center">
            brussels-shuttle&#64;hotmail.com </p>
        </a>

        <a routerLink="/create-booking" class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:h-52 xl:p-7 md:w-80 hover:bg-cyan-500">
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 mx-auto">
            <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.81207 6.05324C9.53921 2.87158 14.4614 2.87158 17.1885 6.05324C19.382 8.61225 19.382 12.3884 17.1885 14.9474L13.0785 19.7424C12.7864 20.0831 12.6404 20.2535 12.4797 20.3413C12.1809 20.5045 11.8197 20.5045 11.5209 20.3413C11.3602 20.2535 11.2142 20.0831 10.9221 19.7424L6.81207 14.9474C4.61863 12.3884 4.61863 8.61225 6.81207 6.05324Z" stroke="#19aabe" stroke-width="1.1" class="my-path"></path>
              <path d="M14 10C14 11.1046 13.1046 12 12 12C10.8954 12 10 11.1046 10 10C10 8.89543 10.8954 8 12 8C13.1046 8 14 8.89543 14 10Z" stroke="#19aabe" stroke-width="1.1" class="my-path"></path>
            </svg>
          </div>
          <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white text-center">{{'contact-page.address' | translate}}</h4>
          <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white text-center">
            {{'contact-page.addressDescription' | translate}}
          </p>
        </a>
      </a>
    </div>

    <div class="bg-gray-50 mt-10">
      <app-contact-form></app-contact-form>
    </div>

  </section>

</app-layout>
