<main class="grid lg:grid-cols-8 gap-10">
  <section class="col-span-full lg:col-span-3 w-full mb-10">
    <app-booking-from [existingQuote]="exisingQuote()"
                      (quoteRequest)="quoteRequestChange($event)">
    </app-booking-from>
  </section>
  <section class="lg:col-span-5">
    <div class="md:flex justify-start">
      @for (trip of trips(); track trip.id){
        <div class="mb-3 md:ml-2" >
          <app-route-info [trip]="trip"></app-route-info>
        </div>
      } @empty {
        <div class="bg-gray-50 rounded-full py-2 px-4 w-auto flex justify-between mb-3">
          <span class="font-bold inline-block">{{ 'booking-form.estimate' | translate }}</span>
          <div>
              <span class="font-bold inline-block">
                <fa-icon [icon]="faRoute" class="text-sm text-gray-400 mx-2"></fa-icon>
                <span class="inline-block">__km</span>
              </span>
            <span class="font-bold inline-block">
              <fa-icon [icon]="faClock" class="text-sm text-gray-400 mx-2"></fa-icon>
              <span>__h</span>
            </span>
          </div>
        </div>
      }
    </div>
    <div class="map-info" #MapSection>
      @defer (on viewport(MapSection)){
        <app-google-map [origin]="departure()?.startAddress?.location"
                        [destination]="departure()?.endAddress?.location">
        </app-google-map>
      }
    </div>
  </section>
</main>
