  <div class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-3 shadow-xl transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl sm:mx-auto sm:max-w-sm rounded-3xl sm:px-106">
    <span class="absolute top-10 z-0 h-20 w-20 rounded-full bg-sky-500 transition-all duration-300 group-hover:scale-[10]"></span>
    <div id="cardService" class="relative z-10 mx-auto max-w-md">
      <div class="grid h-20 w-20 place-items-center rounded-full bg-sky-500 transition-all duration-300 group-hover:bg-sky-400">
        <span class="absolute top-6 left-6 z-0 h-12 w-12">
          <fa-icon [icon]="icon || faNotdef" class=" text-3xl text-white transition-all">
          </fa-icon>
        </span>
      </div>
      <div class="space-y-2 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
        <h2 class="card-title text-xl">{{title | translate}}</h2>
        <p class="text-sm lg:text-base">{{description | translate}}</p>

      </div>
      <div class="absolute bottom-5 text-base font-semibold leading-7">
        <p>
          <a href="#" class="text-sky-500 transition-all duration-300 group-hover:text-white">Détails
            &rarr;
          </a>
        </p>
      </div>
    </div>
  </div>

