<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="mb-10 lg:mb-16 flex justify-center items-center flex-col gap-x-0 gap-y-6 lg:gap-y-0 lg:flex-row lg:justify-between max-md:max-w-lg max-md:mx-auto">
    <div class="relative w-full text-center lg:text-left lg:w-2/4">
      <h2 class="text-4xl font-bold text-gray-900 leading-[3.25rem] lg:mb-6 mx-auto max-w-max lg:max-w-md lg:mx-0">Réserver votre transfert au meilleur prix</h2>
    </div>
    <div class="relative w-full text-center  lg:text-left lg:w-2/4">
      <p class="text-lg font-normal text-gray-500 mb-5">Réservez dès maintenant votre transfert depuis et vers l'aéroport de votre choix, en toute sérénité avec notre service de transfert fiable et professionnel.</p>
      <a href="#" class="flex flex-row items-center justify-center gap-2 text-base font-semibold text-cyan-500 lg:justify-start hover:text-cyan-700 ">En savoir plus

        <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.00378 5.99561L15.004 11.9959L9.00024 17.9996" stroke="#1195a6" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="my-path"></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="flex justify-center items-center  gap-x-5 gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8">
    <div class="group relative w-full bg-gray-100 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-64 xl:p-7 xl:w-1/4 hover:bg-cyan-500">
      <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.02427 10.2591L13.7368 17.9716C15.4072 19.642 18.1154 19.642 19.7858 17.9716C20.4539 17.3035 20.4539 16.2202 19.7858 15.552L17.6434 13.4096C17.1562 12.9224 16.3663 12.9224 15.8791 13.4096C15.3919 13.8968 14.602 13.8968 14.1148 13.4096L10.2334 9.52819C9.74619 9.041 9.74619 8.25109 10.2334 7.7639C10.7206 7.2767 10.7206 6.4868 10.2334 5.9996L8.44388 4.2101C7.77573 3.54195 6.69243 3.54194 6.02428 4.2101C4.35389 5.88049 4.35389 8.58872 6.02427 10.2591Z" stroke="#1195a6" stroke-width="1.1" class="my-path"></path>
        </svg>
      </div>
      <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white">24/7</h4>
      <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white">
        Réservez votre transfert privé dès aujourd'hui et profitez d'un trajet confortable et sûr à partir de 50€ !      </p>
    </div>
    <div class="group relative w-full bg-gray-100 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-64 xl:p-7 xl:w-1/4 hover:bg-cyan-500">
      <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 7.88304C3 6.49159 3 5.79587 3.37752 5.2721C3.75503 4.74832 4.41505 4.52832 5.73509 4.0883L9 3V19L8.26491 19.245C5.86241 20.0459 4.66116 20.4463 3.83058 19.8476C3 19.249 3 17.9828 3 15.4503V7.88304Z" stroke="#1195a6" stroke-width="1.1" stroke-linejoin="round" class="my-path"></path>
          <path d="M9 3L15 5V21L9 19V3Z" stroke="#1195a6" stroke-width="1.1" stroke-linejoin="round" class="my-path"></path>
          <path d="M15 5.00018L15.7351 4.75515C18.1376 3.95431 19.3388 3.5539 20.1694 4.15255C21 4.75119 21 6.01742 21 8.54988V16.1171C21 17.5086 21 18.2043 20.6225 18.7281C20.245 19.2519 19.5849 19.4719 18.2649 19.9119L15 21.0002V5.00018Z" stroke="#1195a6" stroke-width="1.1" stroke-linejoin="round" class="my-path"></path>
        </svg>
      </div>
      <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white">Flexibilité</h4>
      <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white">
        Nos transferts se font également en France, Allemagne, Suisse, et Pays-Bas
      </p>
    </div>
    <div class="group relative w-full bg-gray-100 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-64 xl:p-7 xl:w-1/4 hover:bg-cyan-500">
      <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
        <svg width="40" height="40" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 7.03491V11.2065C12 11.6152 12 11.8196 12.0761 12.0034C12.1522 12.1872 12.2968 12.3317 12.5858 12.6207L15 15.0349M21 12.0349C21 17.0055 16.9706 21.0349 12 21.0349C7.02944 21.0349 3 17.0055 3 12.0349C3 7.06435 7.02944 3.03491 12 3.03491C16.9706 3.03491 21 7.06435 21 12.0349Z" stroke="#1195a6" stroke-width="1.1" stroke-linecap="round" class="my-path"></path>
        </svg>

      </div>
      <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white">Ponctualité</h4>
      <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white">
        Nous venons toujours chercher nos clients à l\’heure, 24 heures sur 24, 7 jours sur 7.
      </p>
    </div>
    <div class="group relative w-full bg-gray-100 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-64 xl:p-7 xl:w-1/4 hover:bg-cyan-500">
      <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#1195a6" stroke-width="1.1" class="my-path"></path>
          <path d="M9.02678 10.7105C8.81703 9.23676 8.71215 8.4999 9.15176 8.14309C9.59138 7.78628 10.2909 8.0405 11.6899 8.54894L14.7483 9.6604C16.5116 10.3012 17.3932 10.6216 17.5156 11.1507C17.5508 11.3028 17.5498 11.4611 17.5128 11.6128C17.3842 12.1404 16.4988 12.4503 14.7281 13.0702C14.1845 13.2604 13.9127 13.3556 13.6831 13.5182C13.6118 13.5687 13.5439 13.6239 13.4798 13.6833C13.2733 13.8745 13.1243 14.1209 12.8263 14.6137C11.8555 16.2191 11.37 17.0218 10.8273 17.0391C10.6712 17.0441 10.5161 17.0125 10.3745 16.9467C9.88186 16.7182 9.74968 15.7895 9.48532 13.9321L9.02678 10.7105Z" stroke="#1195a6" stroke-width="1.1" class="my-path"></path>
        </svg>

      </div>
      <h4 class="text-xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500 group-hover:text-white">Transfert</h4>
      <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 group-hover:text-white">
        Brussels Shuttle est spécialisé dans le service de transfert d’aéroport disponible 24/24.
      </p>
    </div>
  </div>
</div>
