<app-stepper>
  <!--  First step-->
  <app-step [label]="'steps.quote' | translate" [isStepComplete]="isQuoteRequestCompleted()"  >
    <div #quoteRequestSection></div>
    @defer (on viewport(quoteRequestSection)) {
      <div class="mx-3 md:mx-0">
        <app-create-quote-step [exisingQuote]="exisingQuote"
                               (quoteChange)="quote.set($event); vehicleModel.set(undefined)">
        </app-create-quote-step>
      </div>
    }
  </app-step>

  <!--  Second step-->
  <app-step [label]="'steps.vehicle' | translate" [isStepComplete]="isVehicleModelCompleted()">
    @if (!!quote()){
        <section class="mb-10 col-span-full lg:col-span-5 mx-3 md:mx-0">
          <div>
            <app-vehicle-step [quote]="quote()!"
                       [passengerCount]="currentBooking().passengerCount ?? 0"
                       [(vehicleModel)]="vehicleModel">
            </app-vehicle-step>
          </div>
        </section>
    } @else {
      <section class=" w-full flex flex-col gap-4">
        <div class="skeleton h-24 w-full"></div>
        <div class="skeleton h-24 w-full"></div>
        <div class="skeleton h-24 w-full"></div>
        <div class="skeleton h-24 mt-5 w-full"></div>
      </section>
    }
  </app-step>

  <!--  Final step-->
  <app-step [label]="'steps.booking' | translate">
    <div #bookingSection></div>
    @defer (on viewport(bookingSection)) {
      <div class="mx-3 md:mx-0">
        <app-booking-final-step [(paymentMethod)]="paymentMethod"
                                [(passenger)]="passenger"
                                [(billingAddress)]="billingAddress"
                                [totalPrice]="totalPrice()"
                                [currentBooking]="currentBooking()"
                                (book)="book()">
        </app-booking-final-step>
      </div>

    }
  </app-step>
</app-stepper>
