<app-stepper>
  <!--  First step-->
  <app-step [label]="'Plannifier Votre Trajet'" [isStepComplete]="isBookingDetailsCompleted()">
    <app-create-quote [(bookingDetails)]="bookingDetails"
                      (quoteEvent)="quote.set($event)">
    </app-create-quote>
  </app-step>

  <!--  Second step-->
  <app-step [label]="'De quel véhicule avez-vous besoin ?'" [isStepComplete]="isVehicleModelCompleted()">
    @if (!!quote()){
        <section class="mb-10 col-span-full lg:col-span-5">
          <div>
            <app-journey-quote [journeyQuote]="quote()!"
                               [passengerCount]="currentBooking().passengerCount ?? 0"
                               (selectVehicleModelEvent)="vehicleModel.set($event)">
            </app-journey-quote>
          </div>
        </section>
    } @else {
      <section class=" w-full flex flex-col gap-4">
        <div class="skeleton h-24 w-full"></div>
        <div class="skeleton h-24 w-full"></div>
        <div class="skeleton h-24 w-full"></div>
        <div class="skeleton h-24 mt-5 w-full"></div>
      </section>
    }
  </app-step>

  <!--  Final step-->
  <app-step [label]="'Revoir votre réservation'">
    <app-booking-final-step [(paymentMethod)]="paymentMethod"
                            [(personalInformation)]="personalInformation"
                            [totalPrice]="totalPrice()"
                            [currentBooking]="currentBooking()"
                            (book)="book()">
    </app-booking-final-step>
  </app-step>
</app-stepper>
