<section>
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <div class="space-y-8">
      <label class="block text-sm text-gray-800">
        {{ 'contact-form.email.label' | translate }}
        <tui-input  [tuiTextfieldCleaner]="true"
                    [tuiTextfieldLabelOutside]="true"
                    [formControl]="emailFormControl">
          <input tuiTextfield
                 class="bg-transparent py-4 pl-4 appearance-none outline-0 w-full"/>
        </tui-input>
        <tui-error
          [formControl]="emailFormControl"
          [error]="[] | tuiFieldError | async"/>
      </label>

      <label class="block text-sm text-gray-800">
        {{ 'contact-form.name.label' | translate }}
        <tui-input  [tuiTextfieldCleaner]="true"
                    [tuiTextfieldLabelOutside]="true"
                    [formControl]="nameFormControl">
          <input tuiTextfield
                 class="bg-transparent py-4 pl-4 appearance-none outline-0 w-full"/>
        </tui-input>
        <tui-error
          [formControl]="nameFormControl"
          [error]="[] | tuiFieldError | async"/>
      </label>

      <label class="block text-sm text-gray-800">
        {{ 'contact-form.message.label' | translate }}
        <tui-textarea  [formControl]="messageFormControl"
                       [tuiTextfieldLabelOutside]="true">
          {{ 'contact-form.message.placeholder' | translate }}
        </tui-textarea>
        <tui-error
          [formControl]="messageFormControl"
          [error]="[] | tuiFieldError | async"/>
      </label>

      <label
        tuiLabel
        class="tui-form__field-checkbox">
        <input
          [formControl]="acceptedTermsFormControl"
          tuiCheckbox
          type="checkbox"/>
        <span>
          {{ 'contact-form.terms.text' | translate }}
          <a routerLink="/privacy-policy" class="text-cyan-700 underline underline-offset-2">
            {{ 'navigation.privacy' | translate }}
          </a>
        </span>
      </label>

      <div class="tui-form__buttons">
        <button
          (click)="onSubmit()"
          size="l"
          tuiButton
          [disabled]="!isFormValid"
          type="submit"
          class="tui-form__button">
          {{ 'contact-form.submit' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>


