<footer class="footer p-10 bg-gray-900 text-white">
  <aside>
    <img src="assets/images/bs_logo_only.png" class="w-24">
    <p>Brussels Shuttle</p>
  </aside>
  <nav>
    <h6 class="footer-title">{{ 'footer.services'| translate }}</h6>
    <a class="link link-hover" routerLink="/booking/request">{{ 'navigation.booking'| translate }}</a>
    <a class="link link-hover" routerLink="/services/destinations">{{ 'navigation.destinations'| translate }}</a>
  </nav>
  <nav>
    <h6 class="footer-title">{{ 'footer.aboutus'| translate }}</h6>
    <a class="link link-hover" routerLink="/faq">{{ 'navigation.faq'| translate }}</a>
    <a class="link link-hover" routerLink="/contact">{{ 'navigation.contact'| translate }}</a>
  </nav>
  <nav>
    <h6 class="footer-title">{{ 'footer.legal'| translate }}</h6>
    <a class="link link-hover" routerLink="/term-of-use">{{ 'navigation.conditions'| translate }}</a>
  </nav>
</footer>
