<footer class="footer p-10 bg-gray-900 text-white">
  <aside>
    <img src="assets/images/bs_logo_only.png" class="w-24">
    <p>Brussels Shuttle.<br>Une technologie fiable depuis 2024</p>
  </aside>
  <nav>
    <h6 class="footer-title">nos services</h6>
    <a class="link link-hover">Réservation</a>
    <a class="link link-hover">Déstinations</a>
  </nav>
  <nav>
    <h6 class="footer-title">à propos de nous</h6>
    <a class="link link-hover">FAQ</a>
    <a class="link link-hover">Contact</a>
  </nav>
  <nav>
    <h6 class="footer-title">Légale</h6>
    <a class="link link-hover">Condition générale</a>
  </nav>
</footer>
