<app-layout >
  <section class="w-full relative overflow-hidden lg:py-12 py-8">
    <div class="px-4 md:px-12 xl:px-20">
      <div class="flex flex-col md:flex-row w-full gap-8">
        <div class="w-full md:max-w-[176px] md:border-r md:border-gray-200 md:pr-2">
          <ul class="tab-nav flex flex-col items-start lg:gap-10 gap-6">
            <li>
              <a href="/term-of-use" class="font-medium text-base md:leading-7 text-gray-500 hover:text-cyan-500">Réservation en ligne</a>
            </li>
            <li>
              <a href="/term-of-use" class="font-medium text-base md:leading-7 text-gray-500 hover:text-cyan-500">Paiement du service de transport</a>
            </li>
            <li>
              <a href="/term-of-use" class="font-medium text-base md:leading-7 text-gray-500 hover:text-cyan-500">Modifications et corrections</a>
            </li>
            <li>
              <a href="/term-of-use" class="font-medium text-base md:leading-7 text-gray-500 hover:text-cyan-500">Annulations</a>
            </li>
            <li>
              <a href="/term-of-use" class="font-medium text-base md:leading-7 text-gray-500 hover:text-cyan-500">Modification et annulations par l'entreprise</a>
            </li>
          </ul>
        </div>
        <div class="w-full tab-pane md:px-4">
          <h2 class="font-manrope font-bold lg:text-4xl text-3xl text-gray-900 mb-5">Conditions générales</h2>
          <p class="font-normal text-sm md:text-lg leading-8 text-gray-500 lg:mb-10 mb-8">
            Brussels-Shuttle est spécialisée dans le transport de passagers vers et depuis les aéroports. Nous offrons un service fiable, sur et confortable pour répondre a tous vos besoins en matière de transport. Nos  chauffeurs sont expérimentés et nos des véhicules bien entretenus, nous sommes là pour vous assurer une expérience de voyage agréable et sans soucis. Que vous soyez en voyage d’affaires ou en vacances, notre service de taxi est là pour vous accompagner à tout moment.
            <br><br>
            Nos services sont fournis via : Brussels Shuttle et l’adresse e-mail correspondante info&#64;brussels-shuttle.be. Nos services de transfert sont conformes aux lois et réglementations nationales et nous disposons pour cela de tous les permis et licences nécessaires.  Nous de gérons correctement les transferts, en tant que société qui a la capacité d’offrir ces services de transfert.
            <br><br>
            Airport Taxis propose des services de transport pour les particuliers et les entreprises via le site web.
            <br><br>
            Ces termes et conditions doivent être lus et compris par toute personne ayant l’intention de faire une réservation via notre site Web, car ces termes s’appliquent au contrat.
            Toute personne effectuant une réservation déclare automatiquement avoir pris connaissance des présentes conditions générales.
            La personne effectuant la réservation de cette manière tant son accord personnel que l’accord dans lequel elle a la capacité juridique de
            Si vous avez des questions concernant ces conditions, vous pouvez toujours contacter notre service client.
            Si pour une raison quelconque vous n’acceptez pas ces conditions, vous ne devez pas réserver auprès de notre service de transport.
          </p>

          <h2 class="font-manrope font-bold lg:text-4xl text-3xl text-gray-900 mb-5">Réservation en ligne</h2>
          <p class="font-normal text-sm md:text-lg leading-8 text-gray-500 lg:mb-10 mb-8">
            La personne effectuant la réservation doit être âgée de 18 ans ou plus.
            Cette personne est également responsable de la saisie des données et du paiement intégral.
            Le processus de réservation en ligne doit être rigoureusement suivit.
            <br><br>
            La validité de la commande n’est valable que si vous avez reçu un e-mail de confirmation.
            Si le service réservé ne peut pas être fourni , le client en sera informé et le montant total sera remboursé sur son compte.
            Après le remboursement, nous n’avons plus aucune responsabilité envers le client.
            <br><br>
            La réception de toutes les notifications envoyées relève de la responsabilité du client. Nous attendons de vous que vous reconnaissiez chaque correspondance. Si ce n’est pas le cas, nous considérerons les données de notre serveur de messagerie comme une preuve de la notification.
            <br><br>
            La confirmation d’un paiement en tant que telle n’est pas considérée comme contractuelle.
            <br><br>
            Les bons que vous avez reçus après le paiement de nos transferts doivent conservé. Si le passager principal n’est pas en mesure de présenter le bon au moment du service de transfert, le chauffeur peut refuser le service de transport.

            Comme indiqué précédemment, la personne effectuant la réservation doit être âgée de 18 ans ou plus.
            Si ce n’est pas le cas, nous nous réservons le droit d’annuler la réservation à tout moment.
            Nous recommandons aux parents ou tuteurs légaux qui sont au courant de la réservation de leur mineur de nous contacter afin que nous puissions annuler immédiatement la réservation.
            Les mineurs ne sont pas non plus autorisés à rejoindre nos services de transport sans la surveillance d’un adulte.
          </p>
        </div>
      </div>
    </div>
  </section>
</app-layout>
