<div class="grid grid-cols-6 gap-4">

  <div class="col-span-3">
    <tui-input [formControl]="identifierForm">
      {{ 'billing-form.identifier.label' | translate }}
      <input
        [placeholder]="'billing-form.identifier.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
  </div>
  <div class="col-span-3">
    <tui-input [formControl]="registeredNameForm">
      {{ 'billing-form.registered-name.label' | translate }}
      <input
        [placeholder]="'billing-form.registered-name.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
  </div>

  <div class="col-span-6">
    <tui-input [formControl]="streetForm">
      {{ 'billing-form.street.label' | translate }}
      <input
        [placeholder]="'billing-form.street.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="streetForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="col-span-2">
    <tui-input [formControl]="localityForm">
      {{ 'billing-form.locality.label' | translate }}
      <input
        [placeholder]="'billing-form.locality.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="localityForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="col-span-2">
    <tui-input [formControl]="postalCodeForm">
      {{ 'billing-form.postal-code.label' | translate }}
      <input
        [placeholder]="'billing-form.postal-code.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="postalCodeForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="col-span-2">
    <tui-input [formControl]="countryForm">
      {{ 'billing-form.country.label' | translate }}
      <input
        [placeholder]="'billing-form.country.placeholder' | translate"
        tuiTextfield
      />
    </tui-input>
    <tui-error
      [formControl]="countryForm"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>
</div>
