<div class="grid grid-cols-1 min-[500px]:grid-cols-2 md:grid-cols-6 lg:grid-cols-4 gap-8 max-w-xl mx-auto md:max-w-3xl lg:max-w-full">

  <div class="block group md:col-span-2 lg:col-span-1 ">
    <div class="relative mb-6">
      <img src="https://i.postimg.cc/h49QP1CV/Eco.png" alt="Antonio image"
           class="w-50 h-32 rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4
      class="text-xl font-semibold text-gray-900 mb-2 capitalize text-center transition-all duration-500 group-hover:text-cyan-600">
      Economique</h4>
    <span
      class="text-gray-500 text-center block transition-all duration-500 group-hover:text-gray-900">A partir de 50 euros</span>
  </div>
  <div class="block group md:col-span-2 lg:col-span-1 ">
    <div class="relative mb-6">
      <img src="https://i.postimg.cc/gjqxSGwg/Business.png" alt="Patricia image"
           class="w-50 h-32 rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4
      class="text-xl font-semibold text-gray-900 mb-2 capitalize text-center transition-all duration-500 group-hover:text-cyan-600">
      Business</h4>
    <span
      class="text-gray-500 text-center block transition-all duration-500 group-hover:text-gray-900">A partir de 70 euros</span>
  </div>
  <div class="group group md:col-span-2 lg:col-span-1">
    <div class="relative mb-6">
      <img src="https://i.postimg.cc/prt9Jmd9/Van.png" alt="Jerom image"
           class="w-50 h-32 rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4
      class="text-xl font-semibold text-gray-900 mb-2 capitalize text-center transition-all duration-500 group-hover:text-cyan-600">
      Van Première classe</h4>
    <span
      class="text-gray-500 text-center block transition-all duration-500 group-hover:text-gray-900">A partir de 70 euros</span>
  </div>
  <div class="block group md:col-span-2 lg:col-span-1 md:col-start-2 lg:col-start-4">
    <div class="relative mb-6">
      <img src="https://i.postimg.cc/prt9Jmd9/Van.png" alt="Yasmine image"
           class="w-50 h-32 rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4
      class="text-xl font-semibold text-gray-900 mb-2 capitalize text-center transition-all duration-500">
      MiniBus</h4>
    <span
      class="text-gray-500 text-center block transition-all duration-500 group-hover:text-gray-900">A partir de 80 euros</span>
  </div>

</div>
