<div class="flex justify-center items-center  gap-x-5 gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8">
  <div class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 xl:p-7 xl:w-1/4 ">
        <div class="relative pt-4 pb-24">
          <img src="https://i.postimg.cc/h49QP1CV/Eco.png" alt="Antonio image"
               class="w-96 h-auto rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
        </div>
    <h4 class="text-3xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500">Standard</h4>
    <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 pb-10">
      Pour un trajet rapide et économique, choisissez notre Standard à partir de 50€. Idéal pour les déplacements quotidiens avec un bon confort à petit prix.    </p>
  </div>


  <div class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 xl:p-7 xl:w-1/4">
    <div class="relative pt-4 pb-24">
      <img src="https://i.postimg.cc/gjqxSGwg/Business.png" alt="Antonio image"
           class="w-96 h-auto rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4 class="text-3xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500">Business</h4>
    <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 pb-10">
      Optez pour notre véhicule Business à partir de 70€ pour vos déplacements professionnels. Confort supérieur et élégance pour un trajet agréable.    </p>
  </div>


  <div class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 xl:p-7 xl:w-1/4">
    <div class="relative pt-4 pb-24">
      <img src="https://i.postimg.cc/prt9Jmd9/Van.png" alt="Antonio image"
           class="w-96 h-auto rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4 class="text-3xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500">Van</h4>
    <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 pb-10">
      Notre Van, à partir de 70€, offre espace et confort pour les trajets en groupe ou avec bagages. Idéal pour des déplacements plus spacieux.    </p>
  </div>


  <div class="group relative w-full bg-gray-50 rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 xl:p-7 xl:w-1/4">
    <div class="relative pt-4 pb-24">
      <img src="https://i.postimg.cc/prt9Jmd9/Van.png" alt="Antonio image"
           class="w-96 h-auto rounded-full mx-auto transition-all duration-500 object-cover border border-solid border-transparent " />
    </div>
    <h4 class="text-3xl font-semibold text-gray-900 mb-3 capitalize transition-all duration-500">Minibus</h4>
    <p class="text-sm font-normal text-gray-500 transition-all duration-500 leading-5 pb-10">
      Pour les grands groupes, choisissez notre Minibus à partir de 70€. Confort et espace pour un trajet en groupe sans souci.    </p>
  </div>
</div>
