<section class="card bg-gray-50 shadow-xl pt-2 pb-10">
  <div class="card-actions justify-end pb-1 px-2 absolute right-0">
    <button id="clearButton" class="btn btn-sm" (click)="clear()"
            [disabled]="bookingDetailsFormGroup.untouched">
      {{ 'booking-form.clear' | translate }}
    </button>
  </div>
  <div class="card-body pt-3">
    <div class="space-y-3">
      <h2 class="text-lg font-semibold">{{ 'booking-form.departure-question' | translate }}</h2>
      <tui-input-date
        id="departureDate"
        [formControl]="startTimeDateForm"
        [min]="minDate"
        [tuiTextfieldCleaner]="true">
        {{ 'booking-form.choose-date' | translate }}
      </tui-input-date>
      <tui-error
        id="departureDateError"
        [formControl]="startTimeDateForm"
        [error]="[] | tuiFieldError | async"/>

      <tui-input-time
        id="departureTime"
        [strict]="true"
        [items]="itemsPeriod"
        [formControl]="startTimeTimeForm">
        {{ 'booking-form.departure-time' | translate }}
      </tui-input-time>
      <tui-error
        id="departureTimeError"
        [formControl]="startTimeTimeForm"
        [error]="[] | tuiFieldError | async"/>

      <tui-error
        id="departureDateTimeError"
        [formGroup]="startDateTimeForm"
        [error]="[] | tuiFieldError | async"/>

      <tui-select
        id="tripType"
        class="w-1/2"
        tuiTextfieldSize="s"
        [formControl]="wayForm"
        [valueContent]="'way.'+wayForm.value | translate">
        <input tuiTextfield/>
        <tui-data-list-wrapper
          *tuiDataList
          [items]="wayItems"
          [itemContent]="wayItemContent">
        </tui-data-list-wrapper>
      </tui-select>
      <ng-template #wayItemContent let-item>
        {{ 'way.' + item | translate }}
      </ng-template>
      <div class="collapse m-0 p-0">
        <input type="radio" [hidden]="true" [checked]="wayForm.value == WayEnum.RETURN"/>
        <div class="collapse-content px-0">
          <div class="space-y-3">
            <tui-input-date
              id="returnDate"
              [formControl]="returnStartTimeDateForm"
              [min]="startTimeDateForm.value"
              [tuiTextfieldCleaner]="true">
              {{ 'booking-form.choose-return-date' | translate }}
            </tui-input-date>
            <tui-error
              id="returnDateError"
              [formControl]="returnStartTimeDateForm"
              [error]="[] | tuiFieldError | async"/>

            <tui-input-time
              id="returnTime"
              [strict]="true"
              [items]="itemsPeriod"
              [formControl]="returnStartTimeTimeForm">
              {{ 'booking-form.return-time' | translate }}
            </tui-input-time>
            <tui-error
              id="returnTimeError"
              [formControl]="returnStartTimeTimeForm"
              [error]="[] | tuiFieldError | async"/>

            <tui-error
              id="returnDateTimeError"
              [formGroup]="returnStartDateTimeForm"
              [error]="[] | tuiFieldError | async"/>
          </div>
        </div>
      </div>




    </div>

    <div class="space-y-1">
      <h2 class="text-lg font-semibold">{{ 'booking-form.book-a-ride' | translate }}</h2>
      <app-place-auto-complete id="pickupLocation" label="{{ 'booking-form.pickup-location' | translate }}" icon="tuiIconDiscLarge" [addressForm]="startAddressForm">
      </app-place-auto-complete>
      <app-place-auto-complete id="destination" label="{{ 'booking-form.destination' | translate }}" icon="tuiIconMapPinLarge" [addressForm]="endAddressForm">
      </app-place-auto-complete>
    </div>

    <div class="mt-2">
      <tui-select
        id="passengerCount"
        [formControl]="passengerCountForm"
        tuiTextfieldIconLeft="tuiIconUserLarge"
        tuiTextfieldSize="m">
        {{ 'booking-form.passenger-count' | translate }}
        <input tuiTextfield/>
        <tui-data-list-wrapper
          *tuiDataList
          [items]="passengerCountItems">
        </tui-data-list-wrapper>
      </tui-select>
    </div>
  </div>
</section>
