<link rel="preload" href="assets/images/zaventem.webp" as="image">
<link rel="preload" href="assets/images/charleroi.webp" as="image">
<link rel="preload" href="assets/images/lille.webp" as="image">
<link rel="preload" href="assets/images/orly.webp" as="image">
<link rel="preload" href="assets/images/cdg.webp" as="image">
<link rel="preload" href="assets/images/amsterdam.webp" as="image">
<app-layout>
  <section>
    <div class="mb-12 pt-4 max-w-xl md:mx-auto lg:max-w-4xl px-8 md:px-0">
      <app-title [shortTitle]="'destinations.short-title' | translate"
                 [title]="'destinations.title' | translate"
                 [description]="'destinations.description' | translate">
      </app-title>
    </div>
    <div class="bg-gray-50">
      <div class="lg:max-w-7xl mx-auto py-20">
        <div class="grid grid-cols-3 gap-16 mx-3 md:mx-0">
          @defer {
            @for(destiation of destinationsItems(); track $index){
              <div class="col-span-3 md:col-span-1">
                <app-destination
                  [name]="destiation['name']"
                  [cta]="destiation['cta']"
                  [imageUri]="destiation['imageUri']"
                  [title]="destiation['title']"
                  [description]="destiation['description']">
                </app-destination>
              </div>
            }
          } @loading (minimum 1s) {
            <div class="col-span-3 md:col-span-1 skeleton h-[470px] w-full"></div>
            <div class="col-span-3 md:col-span-1 skeleton h-[470px] w-full"></div>
            <div class="col-span-3 md:col-span-1 skeleton h-[470px] w-full"></div>
            <div class="col-span-3 md:col-span-1 skeleton h-[470px] w-full"></div>
            <div class="col-span-3 md:col-span-1 skeleton h-[470px] w-full"></div>
            <div class="col-span-3 md:col-span-1 skeleton h-[470px] w-full"></div>
          }
        </div>
      </div>
    </div>



  </section>
</app-layout>
