<div class="navbar" [ngClass]="{'text-white':absolute()}">

  <div class="navbar-start " >

  <!--    Minimal View    -->
    <div class="dropdown">
      <div tabindex="0" role="button">
        <img [src]="'assets/images/bs_logo_horizontal.svg'" class="btn btn-ghost text-xl lg:hidden" height="auto" width="230">
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52 text-black">
        <li ><a routerLink="/">Page principale</a></li>
        <li><a routerLink="/booking/request" routerLinkActive="bg-cyan-400 text-white">Réserver une course</a></li>
        <li><a routerLink="/services/destinations" routerLinkActive="bg-cyan-400 text-white">Destinations</a></li>

        <li><a routerLink="/faq" routerLinkActive="bg-cyan-400 text-white">FAQ</a></li>
      </ul>
    </div>

    <a class="btn btn-ghost text-xl hidden lg:block" routerLink="/">
      <img [src]="'assets/images/bs_logo_horizontal.svg'" class="" height="auto" width="230">
    </a>
  </div>

  <!--    Maximum View    -->
  <div class="navbar-center hidden lg:flex ">
    <ul class="menu menu-horizontal px-1 text-lg ">

      <li><a routerLink="/services/destinations" routerLinkActive="bg-cyan-400 text-white">Destinations</a></li>

      <li><a routerLink="/booking/request" routerLinkActive="bg-cyan-400 text-white">Réserver une course</a></li>
      <li><a routerLink="/faq" routerLinkActive="bg-cyan-400 text-white">FAQ</a></li>
    </ul>
  </div>

  <div class="navbar-end ">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li>
        <a routerLink="/contact" routerLinkActive="bg-cyan-400 text-white">Contact</a>
      </li>
      <div class="dropdown dropdown-bottom dropdown-end">
        <li tabindex="0">
          <a>
          <fa-icon [icon]="faGlobe" class=""></fa-icon>
          <fa-icon [icon]="faChevronDown" class="text-xs"></fa-icon>
          </a>
        </li>
        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 text-black">
          @for(lang of languages; track lang) {
            <li><a (click)="changeLanguage(lang)">{{ 'language.'+lang | translate }}</a></li>
          }
        </ul>
      </div>
    </ul>
  </div>
</div>

