@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/styles/taiga-ui-global.less';
@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: 'Emded code', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Manrope", sans-serif; }
:root {
  --tui-primary: #4cafaf;
}
